### Convert worker lagos sample to parquet:

In [ ]:
import pandas as pd, duckdb
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq
import os
import polars as pl

In [2]:
df = pd.read_stata("/kellogg/proj/lgg3230/UnionSpill/Data/RAIS_aux/worker_estab_lagos.dta", convert_categoricals=False)

In [3]:
table = pa.Table.from_pandas(df)
pq.write_table(table, "/kellogg/proj/lgg3230/UnionSpill/Data/RAIS_aux/worker_estab_lagos.parquet")

In [4]:
df.head()

,identificad,year,year_str,l_firm_emp,lr_remdezr,lr_remmedr,l_firm_emp_2009,l_firm_emp_2009_5,lr_remdezr_2009,lr_remmedr_2009,...,lr_remmedr_w,r_remmedr_w,r_remmedr_h_w,r_remdezr_h_w,lr_remdezr_w,r_remdezr_w,dtnascimento_stata_w,modeind_w,modemun_w,_merge
0,00001961000110,2009,2009,2.484907,6.891086,6.694481,2.484907,NaN,6.891086,6.694481,...,6.708473,819.318298,4.282629,1.454113,6.708018,818.946106,1986-10-30,23494,351230,3
1,00001961000110,2010,2010,2.079442,6.829744,6.741766,2.484907,NaN,6.891086,6.694481,...,6.729254,836.523193,4.372560,1.536467,6.790373,889.245239,1981-11-20,23494,351230,3
2,00001961000110,2011,2011,2.484907,6.827140,6.758582,2.484907,NaN,6.891086,6.694481,...,6.776421,876.924072,4.583738,1.574861,6.828767,924.050659,NaT,23494,351230,3
3,00001961000110,2012,2012,2.772589,6.858742,6.857368,2.484907,NaN,6.891086,6.694481,...,7.128697,1247.250488,6.519458,1.874791,7.128697,1247.250488,NaT,23494,351230,3
4,00001961000110,2013,2013,2.944439,6.935752,6.921747,2.484907,NaN,6.891086,6.694481,...,6.923235,1015.599915,5.308605,1.669329,6.923235,1015.599915,NaT,23494,351230,3

In [5]:
df_firm_from_worker = df.groupby(['identificad','year']).agg({'lr_remdezr_w':'mean', 'lr_remdezr':'first'}).reset_index()

In [7]:
df_firm_from_worker.isna().sum()

identificad       0
year              0
lr_remdezr_w    822
lr_remdezr      822
dtype: int64

In [ ]:
n